@page "/patients"

@using Model
@using Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext _context
@attribute [StreamRendering]

<PageTitle>Patients List</PageTitle>

<h1>Patients List</h1>

<div class="patients-list">
	@if (Patients == null)
	{
		<p>Loading patients...</p>  <!-- Loading message -->
	}
	else if (Patients.Count == 0)
	{
		<p>No patients found.</p>  <!-- Message if no patients are found -->
	}
	else
	{
		@foreach (Patient _patient in Patients)
		{
			<PatientView patient=@_patient></PatientView>
		}
	}
</div>

@code {
	// [Parameter]
	public List<Patient> Patients;

	protected override async Task OnInitializedAsync()
	{
		await Task.Delay(500); //DELETE: For db testing
		Patients = await _context.Patients.ToListAsync();
	}
}
