@page "/patients/{Id}"

@using Model
@using Data
@using Microsoft.EntityFrameworkCore
@inject ApplicationDbContext _context
@attribute [StreamRendering]

<PageTitle>@pageTitle</PageTitle>

@if (patient != null)
{

	<h1>@(patient.Name)</h1>

	<p>Contact Phone: @patient.ContactPhone</p>
	<p>Insurance Number: @patient.InsuranceNumber</p>
} 
else
{
	<p>Loading...</p>
}

@code {
	[Parameter]
	public string Id { get; set; }
	private Patient patient;
	private MedicalRecord medicalRecord;
	private string pageTitle = "Loading...";

	protected override async Task OnInitializedAsync()
	{
		await Task.Delay(500); //DELETE: For db testing
		patient = await _context.Patients
					.Include(p => p.MedicalRecord)
					.SingleOrDefaultAsync(p => p.InsuranceNumber == Convert.ToUInt64(Id)) ?? throw new NullReferenceException($"Patient with ID {Id} has no MedicalRecord");
		pageTitle = patient.Name;
		medicalRecord = patient.MedicalRecord;
	}
}
